* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  margin:0;
  padding:0;
} 


html{
  width:100vw;
  height: 100vh;
}

form {
  width: 46%;
  height: 57%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: -79px;
  left: 38%;
}
input[type="text"] {
  width: 376px;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid blue;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: yellow;
  font-size: 16px;
  position: absolute;
  top:32px;
  height: 40px;
  left:-3px;
  color:blue;
}

ul {
  list-style: none;
  background-color: blue;
}
.list {
  width: 376px;
  background-color: yellow;
  border-radius: 0 0 5px 5px;
  left:-3px;
  top:71px;
  position: absolute;
}
.list-items {
  padding: 3px 5px;
  color:blue;
  font-size: 13px;
}
.list-items:hover {
  background-color: yellow;
}


#demo {
  position: relative;
  left: 259px;
  font-size: x-large;
  top: 290.2px;
  color:blue;
  font-weight: 700;
}

#demo-2 {
   position: relative;
  left: 259px;
  font-size: x-large;
  top: 290.2px;
  color:blue;
  font-weight: 700;
}

#demo-3 {
   position: relative;
  left: 259px;
  font-size: x-large;
  top: 290.2px;
  color:blue;
  font-weight: 700;
}

#demo-4 {
   position: relative;
  left: 259px;
  font-size: x-large;
  top: 290.2px;
  color:blue;
  font-weight: 700;
}

#demo-5 {
   position: relative;
  left: 259px;
  font-size: x-large;
  top: 290.2px;
  color:blue;
  font-weight: 700;
}

#demo-6 {
   position: relative;
  left: 259px;
  font-size: x-large;
  top: 290.2px;
  color:blue;
  font-weight: 700;
}

#demo-7 {
   position: relative;
  left: 259px;
  font-size: x-large;
  top: 290.2px;
  color:blue;
  font-weight: 700;
}

#how-to-play {
  font-weight: 800;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.175px;
  color: yellow;
  background: blue;
  cursor: pointer;
  position:absolute;
  bottom: 23px;
  left: 635px;
  padding-bottom: 2px;
  width: 70px;
  align-self: flex-start;
  border: revert;
  border-color: blue;
  border-style: groove;
  border-left-color: blue;
  border-right-color: blue;
  border-bottom-color: blue;
  border-top-color: blue;
  text-shadow: 2px 2px 2px #32CD32;
}

#silhueta {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.175px;
  color: yellow;
  background: blue;
  cursor: pointer;
  position: absolute;
  bottom: 22px;
  left: 9px;
  padding-bottom: 2px;
  width: 95px;
  align-self: flex-start;
  border: revert;
  border-color: blue;
  border-style: groove;
  border-left-color: blue;
  border-right-color: blue;
  border-bottom-color: blue;
  border-top-color: blue;
}

button{
  text-shadow: 2px 2px 2px #32CD32;
}


.container-div {
  position: absolute;
  left:605px;
  width: 28%;
  height: 0vh;
  top:104px;
}

.direcionamento {
  font-size: 21px;
  width: 228px;
  display: flex;
  flex-direction: row;
  left: 4px;
  position: absolute;
  color: yellow;
  text-shadow: 2px 2px 2px blue;
  bottom: 6px;
  inline-size: max-content;
}

.container-second {
  display: flex;
  position: absolute;
  margin:auto;
  right: 10px;
  align-items: baseline;
  width: 73%;
  height: 41%;
  left:259px;
  top:408px;
}

span {
  color: magenta;
  top: 68px;
  position: absolute;
  float: right;
  left:19px;
}

.bg-modal {
  width: 56%;
  height: 90%;
  background: transparent;
  position: fixed;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:492px;
}

.modal {
  width: 59.7%;
  height: 41%;
  background-color: blue;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 12px 0 12px;
  position: absolute;
  left:0.2px;
  bottom:387px;
}

.modal span {
  float: right;
  font-size: 22px;
  color: #32CD32;
  margin: 20px 20px;
  transition: 350ms;
  cursor: pointer;
  left:-20px;
  top:-26px;
}

.modal span:hover {
  color: yellow;
  transition: 350ms;
}

#h3-silhueta {
  font-size: 17px;
  text-align: center;
  position: relative;
  align-items: center;
  top: 10px;
  right: 12px;
  color: yellow;
}

.bg-modal-2 {
  width: 56%;
  height: 90%;
  background: transparent;
  position: fixed;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:492px;
}

.modal-2 {
  width: 59.7%;
    height: 48%;
    background-color: #eeeeeb;
    border: 1px solid #eeeeeb;
    border-radius: 5px;
    padding: 0 12px 0 12px;
    position: absolute;
    left: 0.2px;
    bottom: 340px;
    mix-blend-mode: hard-light;
}

.modal-2 span {
  float: right;
  font-size: 22px;
  color: #32CD32;
  margin: 20px 20px;
  transition: 350ms;
  cursor: pointer;
  left:-20px;
  top:-26px;
}

.modal-2 span:hover {
  color: yellow;
  transition: 350ms;
}

.bg-modal-3 {
  width: 56%;
  height: 90%;
  background: transparent;
  position: fixed;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:450px;
}

.modal-3 {
 width: 58.6%;
  height: 54%;
  background-color: #fffbfb;
  border: 1px solid #fffbfb;
  border-radius: 5px;
  margin: 68px auto 0 auto;
  padding: 0 12px 0 12px;
  position: relative;
  left:-129.1px;
  bottom:16px;
}

.modal-3 span {
  float: right;
  font-size: 22px;
  color: #32CD32;
  margin: 20px 20px;
  transition: 350ms;
  cursor: pointer;
  left:-20px;
  top:-26px;
}

.modal-3 span:hover {
  color: yellow;
  transition: 350ms;
}

.bg-modal-4 {
  width: 56%;
  height: 90%;
  background: transparent;
  position: fixed;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:450px;
}

.modal-4 {
width: 58.6%;
  height: 54%;
  background-color: #fffbfb;
  border: 1px solid #fffbfb;
  border-radius: 5px;
  margin: 68px auto 0 auto;
  padding: 0 12px 0 12px;
  position: relative;
  left:-129.1px;
  bottom:16px;
  
}

.modal-4 span {
  float: right;
  font-size: 22px;
  color: #32CD32;
  margin: 20px 20px;
  transition: 350ms;
  cursor: pointer;
  left:-20px;
  top:-26px;
}

.modal-4 span:hover {
  color: yellow;
  transition: 350ms;
}

.bg-modal-5 {
  width: 56%;
  height: 90%;
  background: transparent;
  position: fixed;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:450px;
}

.modal-5 {
  width: 58.6%;
  height: 54%;
  background-color: #fffbfb;
  border: 1px solid #fffbfb;
  border-radius: 5px;
  margin: 68px auto 0 auto;
  padding: 0 12px 0 12px;
  position: relative;
  left:-129.1px;
  bottom:16px;
}

.modal-5 span {
  float: right;
  font-size: 22px;
  color: #32CD32;
  margin: 20px 20px;
  transition: 350ms;
  cursor: pointer;
  left:-20px;
  top:-26px;
}

.modal-5 span:hover {
  color: yellow;
  transition: 350ms;
}

.bg-modal-6 {
  width: 56%;
  height: 90%;
  background: transparent;
  position: fixed;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:450px;
}

.modal-6 {
 width: 58.6%;
  height: 54%;
  background-color: #fffbfb;
  border: 1px solid #fffbfb;
  border-radius: 5px;
  margin: 68px auto 0 auto;
  padding: 0 12px 0 12px;
  position: relative;
  left:-129.1px;
  bottom:16px;
}

.modal-6 span {
  float: right;
  font-size: 22px;
  color: #32CD32;
  margin: 20px 20px;
  transition: 350ms;
  cursor: pointer;
  left:-20px;
  top:-26px;
}

.modal-6 span:hover {
  color: yellow;
  transition: 350ms;
}

.bg-modal-7 {
  width: 56%;
  height: 90%;
  background: transparent;
  position: fixed;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:450px;
}

.modal-7 {
 width: 58.6%;
  height: 54%;
  background-color: #fffbfb;
  border: 1px solid #fffbfb;
  border-radius: 5px;
  margin: 68px auto 0 auto;
  padding: 0 12px 0 12px;
  position: relative;
  left:-129.1px;
  bottom:16px;
  
}

.modal-7 span {
  float: right;
  font-size: 22px;
  color: #32CD32;
  margin: 20px 20px;
  transition: 350ms;
  cursor: pointer;
  left:-20px;
  top:-26px;
}

.modal-7 span:hover {
  color: yellow;
  transition: 350ms;
}

.bg-modal-8 {
  width: 56%;
  height: 90%;
  background: transparent;
  position: fixed;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:450px;
}

.modal-8 {
 width: 58.6%;
  height: 54%;
  background-color: #fffbfb;
  border: 1px solid #fffbfb;
  border-radius: 5px;
  margin: 68px auto 0 auto;
  padding: 0 12px 0 12px;
  position: relative;
  left:-129.1px;
  bottom:16px;
  
}

.modal-8 span {
  float: right;
  font-size: 22px;
  color: #32CD32;
  margin: 20px 20px;
  transition: 350ms;
  cursor: pointer;
  left:-20px;
  top:-26px;
}

.modal-8 span:hover {
  color: yellow;
  transition: 350ms;
}

.bg-modal-9 {
  width: 56%;
  height: 90%;
  background: transparent;
  position: fixed;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:450px;
}

.modal-9 {
 width: 58.6%;
  height: 54%;
  background-color: #fffbfb;
  border: 1px solid #fffbfb;
  border-radius: 5px;
  margin: 68px auto 0 auto;
  padding: 0 12px 0 12px;
  position: relative;
  left:-129.1px;
  bottom:16px;
  
}

.modal-9 span {
  float: right;
  font-size: 22px;
  color: #32CD32;
  margin: 20px 20px;
  transition: 350ms;
  cursor: pointer;
  left:-20px;
  top:-26px;
}

.modal-9 span:hover {
  color: yellow;
  transition: 350ms;
}

.img-jogador {
  margin: auto;
  width: 300px;
  height: 271px;
  position: absolute;
  left: 89px;
  bottom: 28px;
  mix-blend-mode: initial;
  display: flex;
  align-self: center;
}

.img-jogador-silhueta {
  margin: auto;
  width: 282px;
  height: 267px;
  position: absolute;
  left: 110px;
  bottom: -36px;
  mix-blend-mode:overlay;
}

#instructions {
  font-size: 27px;
  text-align: center;
  position: relative;
  align-items: center;
 color:yellow;
  top: 4px;
  right: 4px;
}

h3 {
  font-size: 17px;
  text-align: center;
  position: relative;
  align-items: center;
  top: 10px;
  right: 12px;
  color:blue;
}

p1 {
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  position: relative;
  align-items: center;
  color: yellow;
  top: -9px;
  left: 3px;
  display: flex;
  text-align: justify;
}

p2 {
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  position: relative;
  align-items: center;
  color:yellow;
  top: -45px;
  left: 5px;
  display: flex;
  text-align: justify;
}

p3 {
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  position: relative;
  align-items: center;
  color:yellow;
  top: -81px;
  left: 7px;
  display: flex;
  text-align: justify;
}

p4 {
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  position: relative;
  align-items: center;
  color:yellow;
  top: -114px;
  left: 9px;
  word-break: break-word;
  display: flex;
  text-align: justify;
}

p5 {
  position: absolute;
  bottom: 13px;
  left: 76px;
  font-size:x-large;
  color:blue;
  font-weight:700;
}

caption {
  color: blue;
}

header {
  height: 10vh;
    width: 55vw;
    left: 377px;
    position: absolute;
    top:1px;
}

img {
  position: absolute;
  width: 440px;
  height: 199px;
  top: 12px;
  left: 620px;
}

body {
  height: 100vh;
  width: 106vw;
  background: #32cd32;
}

.guess-container {
  position:absolute;
  left: 523px;
  width: 23vw;
  height: 60%;
  bottom: -23px;
}

#text {position:relative;
  top:5px;

}



table {
  border-collapse: collapse;
  border-spacing: 30px;
  box-shadow: 20px 20px 20px 5px transparent;
  background-color: blue;
  text-align: left;
  left: 20px;
  position:relative;
  width: 106vh;
}

th {
  background-color: blue;
  padding: 0.75rem 2rem;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
  color: yellow;
  text-align: center;
  text-shadow: 2px 2px 2px #32CD32;
}


td {
  padding: 1rem 2rem;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  border-collapse: collapse;
  box-shadow: 20px 20px 20px 5px transparent;
  background-color: yellow;
  text-align: center;
  color: blue;
  font-size: 14px;
  font-weight: 800px;
  border-style: solid;
}


p { 
  position: relative;
  top:-3px;

}

tr:nth-child(even) {
  background-color: green;
}


#slot-1 {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-size:smaller;
}

#slot-2 {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-size:smaller;
}

#slot-3 {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-size:smaller;
}

#slot-4 {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-size:smaller;
}

#slot-5 {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-size:smaller;
}

#slot-6 {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-size:smaller;
}


@media screen and (max-width:720px) {
  * {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin:0;
    padding:0;
  } 
  
 html {
   width: 100vw;
   height: 100vh;
 }

  
  form {
    height: 0%;
    position: relative;
    transform: translate(-50%, -50%);
     top: 0px;
    left: 0px;
    width: 32vw;
  }

  input[type="text"] {
    width: 64vw;
    padding: 12px 10px;
    border: none;
    border-bottom: 1px solid #645979;
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: yellow;
    font-size: 16px;
    color: blue;
    position: relative;
    left: 0px;
    /* bottom: -129px; */
    /* display: flex; */
    /* height: 1vh; */
    /* top: -785px; */
   top:3px;
    display: flex;
    align-content: flex-start;
  }

  ul {
    list-style: none;
    background-color: blue;
  }
  .list {
    width: 64vw;
    background-color: yellow;
    border-radius: 0 0 5px 5px;
    position: relative;
    bottom: -32px;
    left:0px;
    top:2px;
  }
  .list-items {
    padding: 3px 5px;
    color:blue;
    font-size: 13px;
  }
  .list-items:hover {
    background-color: yellow;
  }
  

  .container {
    height: 0vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: flex-start;
    position: relative;
  }
  
  #demo {
    position: relative;
    left: 148px;
    top: 20.6px;
    font-weight: 700;
    font-size: 16px;
    width: 30vw;
    display: flex;
  }

  #demo {
    position: absolute;
    left: 204px;
    top: 286px;
    font-weight: 700;
    font-size: 16px;
    width: -1vw;
    display: flow-root;
    height: 2vh;
  }

  #demo-2 {
    position: relative;
    left: 148px;
    top: 20.6px;
    font-weight: 700;
    font-size: 16px;
    width: 30vw;
    display: flex;
  }
  
  #demo-3 {
     position: relative;
    left: 148px;
    top: 20.6px;
    font-weight: 700;
    font-size: 16px;
    width: 30vw;
    display: flex;
  }
  
  #demo-4 {
     position: relative;
    left: 148px;
    top: 20.6px;
    font-weight: 700;
    font-size: 16px;
    width: 30vw;
    display: flex;
  }
  
  #demo-5 {
     position: relative;
    left: 148px;
    top: 20.6px;
    font-weight: 700;
    font-size: 16px;
    width: 30vw;
    display: flex;
  }
  
  #demo-6 {
     position: relative;
    left: 148px;
    top: 20.6px;
    font-weight: 700;
    font-size: 16px;
    width: 30vw;
    display: flex;
  }
  
  #demo-7 {
     position: relative;
    left: 148px;
    top: 20.6px;
    font-weight: 700;
    font-size: 16px;
    width: 30vw;
    display: flex;
  }
  
  #how-to-play {
    height: 42px;
    font-size: 16px;
    line-height: 18px;
    bottom: -2.5px;
    left: 1px;
    padding-bottom: 3px;
    width: 49px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-self: self-start;
  }
  
  #silhueta {
    font-size: 15px;
    line-height: 18px;
    bottom: -2.5px;
    left: 3px;
    width: 36px;
    height: 42.4px;
    position: relative;
    cursor:pointer;
    width: 60px;
  }
  
  button{
    text-shadow: 2px 2px 2px #32CD32;
  }
  
  
  
  .direcionamento {
    font-size: 18px;
    display: flex;
    left: 2px;
    color: yellow;
    text-shadow: 2px 2px 2px blue;
    white-space: nowrap;
    width: 99vw;
    position: absolute;
    justify-content: center;
  }

  .container-div {
    position: relative;
    /* left: 64px; */
    /* width: 63vw; */
    /* height: 3vh; */
    /* top: 94px; */
    display: flex;
    text-align: center;
    left: 0px;
    width: 99vw;
    height: 3vh;
    top: 104px;
  }

  .container-div {
    position:absolute;
    /* left: 64px; */
    /* width: 63vw; */
    /* height: 3vh; */
    /* top: 94px; */
    display: flex;
    text-align: center;
    left: 0px;
    width: 99vw;
    height: 4vh;
    top: 300px;
  }
  

.container-second {
  position: relative;
    /* margin: auto; */
    /* align-items: baseline; */
    /* height: 9vh; */
    /* left: -3px; */
    /* max-height: 311px; */
    /* min-height: 118px; */
    /* min-width: 386px; */
    /* top: 438px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    left: 0px;
    width: 100vw;
    height: 17vh;
    /* bottom: 61px; */
    top: 321px;
}

.container-second {
  position: absolute;
    /* margin: auto; */
    /* align-items: baseline; */
    /* height: 9vh; */
    /* left: -3px; */
    /* max-height: 311px; */
    /* min-height: 118px; */
    /* min-width: 386px; */
    /* top: 438px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    left: 0px;
    width: 100vw;
    height: 17vh;
    /* bottom: 61px; */
    top: 475px;
}
 

.bg-modal {
  width: 1%;
  height: 63%;
  background: transparent;
  position: absolute;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:0px;
  bottom:0px;
}

.bg-modal {
  width: 95%;
  height: 0%;
  background: transparent;
  position: relative;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left:5px;
  bottom:1px;
}

.modal {
  width: 96vw;
  height: 240px;
  background-color: blue;
    border: 1px solid;
    border-radius: 5px;
    /* margin: 0px auto 0 auto; */
    left: 0px;
    min-height: 383px;
    /* display: flow-root; */
    /* flex-direction: column; */
    /* text-align: center; */
    /* align-items: center; */
    /* left: -38px; */
    padding: 0 12px 0 12px;
    display: inline-block;
    position: relative;
    top: 46px;
}

.modal {
  width: 98vw;
  height: 240px;
  background-color: blue;
  border: 1px solid;
  border-radius: 5px;
  margin: 0px auto 0 auto;
  position: inherit;
  /*top: -100px;*/
  left: 0px;
  min-height: 372px;
  display:inline-table;
  flex-direction: column;
  /* text-align: center; */
  /* align-items: center; */
  /* left: -38px; */
  padding: 0 12px 0 12px;
  align-content: space-between;
  top: -100px;
}

  .modal span {
    float: right;
    font-size: 22px;
    color: #32CD32;
    margin: 20px 20px;
    transition: 350ms;
    cursor: pointer;
    left:-20px;
    top:-26px;
  }
  
  .modal span:hover {
    color: yellow;
    transition: 350ms;
  }


  .bg-modal-2{
    width: 89%;
    height: 37%;
    background: transparent;
    position: absolute;
    z-index: 2;
    top: -100%;
    display: block;
    transition: 350ms;
    left: 30px;
    bottom: 1px;
    white-space: break-spaces;
  }

  .bg-modal-2{
    width: 100%;
    height: 1%;
    background: transparent;
    position: relative;
    z-index: 2;
    top: -100%;
    display: block;
    transition: 350ms;
    left: 0px;
    bottom: 1px;
    white-space: break-spaces;
  }

.modal-2 {
  width: 87vw;
    height: 222px;
    background-color: #eeeeeb;
    border: 0px solid #eeeeeb;
    border-radius: 5px;
    /* margin: 0px auto 0 auto; */
    padding: 0 12px 0 12px;
    position: absolute;
   top: 50px;
    left: 0px;
    min-height: 272px;
    display: inline-block;
}

.modal-2 {
  width: 87vw;
    height: 259px;
    background-color: #eeeeeb;
    border: 0px solid #eeeeeb;
    border-radius: 5px;
    margin: 0px auto 0 auto;
    padding: 0 12px 0 12px;
    position: inherit;
    top: -9px;
    left: 2px;
    min-height: 218px;
}

  .modal-2 span {
    float: right;
    font-size: 22px;
    color: #32CD32;
    margin: 20px 20px;
    transition: 350ms;
    cursor: pointer;
    left: -19px;
    top: -26px;
  }
  
  .modal-2 span:hover {
    color: yellow;
    transition: 350ms;
  }
  
  .bg-modal-3 {
      width: 1%;
      height: 1%;
      background: transparent;
      position: absolute;
      z-index: 2;
      top: -100%;
      display: flow-root;
      transition: 350ms;
      left: -5px;
      bottom: 0px;
      /* min-block-size: auto; */
      min-height: 6px;
}

.bg-modal-3 {
  width: 1%;
  height: 0%;
  background: transparent;
  position: relative;
  z-index: 2;
  top: -100%;
  display: block;
  transition: 350ms;
  left: -19px;
}


.modal-3 {
  width: 85.6%;
    /* height: 48%; */
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    margin: 0 0 0 0;
    padding: 0 12px 0 12px;
    position: absolute;
    /* left: 98px; */
    /* bottom: -163px; */
    min-width: 286px;
    top: 265px;
    left: 25px;
    min-height: 38px;
    /* display: grid; */
    display: block;
    align-content: center;
    height: 307px;
    visibility: hidden;
}

.modal-3 {
  width: 39.6%;
  height: 64%;
  background-color: #ffffff;
  border: 1px #ffffff;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  padding: 0 12px 0 12px;
  position: inherit;
  /* left: 98px; */
  bottom: -161px;
  min-width: 318px;
  min-height: 318px;
  /* max-height: 299px; */
  left: 21px;
  /* bottom: -120px; */
  top: 34px;
}

  .modal-3 span {
    float: right;
    font-size: 22px;
    color: #32CD32;
    margin: 20px 20px;
    transition: 350ms;
    cursor: pointer;
    left:-19px;
    top:-26px;
  }
  
  .modal-3 span:hover {
    color: yellow;
    transition: 350ms;
  }
  
  .bg-modal-4 {
     width: 101%;
    height: 1%;
    background: transparent;
    position: relative;
    z-index: 2;
    top: -100%;
    display: grid;
    transition: 350ms;
    left: 0px;
    bottom:111px;
    justify-content: center;
  }
  
  .modal-4 {
      width: 43.6%;
    height: 63%;
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    margin: 0 0 0 0;
    padding: 0 12px 0 12px;
    position: inherit;
    /* left: 98px; */
    /* bottom: -163px; */
    min-width: 286px;
    bottom:-28px;
    left: 29px;
    min-height: 286px;
         display: grid;
    align-content: center;
    visibility: hidden;
  }
  
  .modal-4 span {
    float: right;
    font-size: 22px;
    color: #32CD32;
    margin: 20px 20px;
    transition: 350ms;
    cursor: pointer;
    left:-20px;
    top:-26px;
  }
  
  .modal-4 span:hover {
    color: yellow;
    transition: 350ms;
  }
  
  .bg-modal-5 {
      width: 101%;
    height: 1%;
    background: transparent;
    position: relative;
    z-index: 2;
    top: -100%;
    display: grid;
    transition: 350ms;
    left: 0px;
    bottom:111px;
    justify-content: center;
  }
  
  .modal-5 {
     width: 43.6%;
    height: 63%;
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    margin: 0 0 0 0;
    padding: 0 12px 0 12px;
    position: inherit;
    /* left: 98px; */
    /* bottom: -163px; */
    min-width: 286px;
    bottom:-28px;
    left: 29px;
    min-height: 286px;
         display: grid;
    align-content: center;
    visibility: hidden;
}



  .modal-5 span {
    float: right;
    font-size: 22px;
    color: #32CD32;
    margin: 20px 20px;
    transition: 350ms;
    cursor: pointer;
    left:-20px;
    top:-26px;
  }
  
  .modal-5 span:hover {
    color: yellow;
    transition: 350ms;
  }
  
  .bg-modal-6 {
       width: 101%;
    height: 1%;
    background: transparent;
    position: relative;
    z-index: 2;
    top: -100%;
    display: grid;
    transition: 350ms;
    left: 0px;
    bottom:111px;
    justify-content: center;

  }
  
  .modal-6 {
     width: 43.6%;
    height: 63%;
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    margin: 0 0 0 0;
    padding: 0 12px 0 12px;
    position: inherit;
    /* left: 98px; */
    /* bottom: -163px; */
    min-width: 286px;
    bottom:-28px;
    left: 29px;
    min-height: 286px;
         display: grid;
    align-content: center;
    visibility: hidden;
}

  .modal-6 span {
    float: right;
    font-size: 22px;
    color: #32CD32;
    margin: 20px 20px;
    transition: 350ms;
    cursor: pointer;
    left:-20px;
    top:-26px;
  }
  
  .modal-6 span:hover {
    color: yellow;
    transition: 350ms;
  }
  
  .bg-modal-7 {
       width: 101%;
    height: 1%;
    background: transparent;
    position: relative;
    z-index: 2;
    top: -100%;
    display: grid;
    transition: 350ms;
    left: 0px;
    bottom:111px;
    justify-content: center;

  }
  
  .modal-7 {
     width: 43.6%;
    height: 63%;
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    margin: 0 0 0 0;
    padding: 0 12px 0 12px;
    position: inherit;
    /* left: 98px; */
    /* bottom: -163px; */
    min-width: 286px;
    bottom:-28px;
    left: 29px;
    min-height: 286px;
         display: grid;
    align-content: center;
    visibility: hidden;
}
  
  .modal-7 span {
    float: right;
    font-size: 22px;
    color: #32CD32;
    margin: 20px 20px;
    transition: 350ms;
    cursor: pointer;
    left:-20px;
    top:-26px;
  }
  
  .modal-7 span:hover {
    color: yellow;
    transition: 350ms;
  }
  
  .bg-modal-8 {
       width: 101%;
    height: 1%;
    background: transparent;
    position: relative;
    z-index: 2;
    top: -100%;
    display: grid;
    transition: 350ms;
    left: 0px;
    bottom:111px;
    justify-content: center;

  }
  
  .modal-8 {
     width: 43.6%;
    height: 63%;
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    margin: 0 0 0 0;
    padding: 0 12px 0 12px;
    position: inherit;
    /* left: 98px; */
    /* bottom: -163px; */
    min-width: 286px;
    bottom:-28px;
    left: 29px;
    min-height: 286px;
         display: grid;
    align-content: center;
    visibility: hidden;
}
  
  .modal-8 span {
    float: right;
    font-size: 22px;
    color: #32CD32;
    margin: 20px 20px;
    transition: 350ms;
    cursor: pointer;
    left:-20px;
    top:-26px;
  }
  
  .modal-8 span:hover {
    color: yellow;
    transition: 350ms;
  }
  
  .bg-modal-9 {
       width: 101%;
    height: 1%;
    background: transparent;
    position: relative;
    z-index: 2;
    top: -100%;
    display: grid;
    transition: 350ms;
    left: 0px;
    bottom:111px;
    justify-content: center;

  }
  
  .modal-9 {
      width: 43.6%;
    height: 63%;
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    margin: 0 0 0 0;
    padding: 0 12px 0 12px;
    position: inherit;
    /* left: 98px; */
    /* bottom: -163px; */
    min-width: 286px;
    bottom:-28px;
    left: 29px;
    min-height: 286px;
         display: grid;
    align-content: center;
    visibility: hidden;
}
    

  .modal-9 span {
    float: right;
    font-size: 22px;
    color: #32CD32;
    margin: 20px 20px;
    transition: 350ms;
    cursor: pointer;
    left:-20px;
    top:-26px;
  }
  
  .modal-9 span:hover {
    color: yellow;
    transition: 350ms;
  }
  
  .img-jogador {
    margin: auto;
    width: 212px;
    height: 219px;
    position: relative;
    top: 16px;
    display: flex;
    align-self: center;
    left: 0px;
    mix-blend-mode: initial;
    min-width: 51vw;
    max-width: 40vw;
    min-height: 8vh;
    max-height: 28vh;
}

.img-jogador {
  margin: auto;
    width: 223px;
    height: 219px;
    position: absolute;
    top: 25px;
    display: flex;
    /* align-self: center; */
    left: 61px;
    mix-blend-mode: initial;
    min-width: 56vw;
    max-width: 40vw;
    min-height: 8vh;
    max-height: 28vh;
}

  .img-jogador-silhueta {
    margin: auto;
    width: 203px;
    height: 213px;
    position: relative;
    left: 0px;
    top: 11px;
    max-height: 207px;
    align-self: center;
    mix-blend-mode: overlay;
    display: flex;
}
  

  .img-jogador-silhueta {
    margin: auto;
    width: 203px;
    height: 213px;
    position: relative;
    left: 0px;
    top: 2px;
    max-height: 207px;
    align-self: center;
    mix-blend-mode: overlay;
    display: flex;
  }
  
  
  h3 {
    font-size: 16px;
    text-align: center;
    position: relative;
    color: blue;
    left:0px;
    top: 7px;
    min-width: 42vw;
    display: flex;
    justify-content: center;
  }

  h3 {
    font-size: 17px;
    /* text-align: center; */
    position: absolute;
    color: blue;
    left: 0px;
    top: -2px;
    /* min-width: 91vw; */
    display: flex;
    height: 6vh;
    width: 86vw;
    justify-content: space-evenly;
  }


  #h3-silhueta {
    font-size: 15px;
    position: relative;
    top: -270px;
    left: -10px;
    min-width: 86vw;
    align-items: center;
    color: blue;
    text-align: center;
    display: inline-flex;
  }

  #h3-silhueta {
    font-size: 15px;
    position: relative;
    top: -273px;
    left: -10px;
    min-width: 86vw;
    align-items: center;
    color: blue;
    text-align: center;
    display: inline-flex;
  }

  #instructions {
    font-size: 28px;
    position: inherit;
    top: 1px;
    color: yellow;
    text-shadow: hidden;
    top: -2px;
    left: -8px;
    display: flow-root;
  }



 p1 {
    font-size: 15px;
    font-weight: 900;
    position: relative;
    align-items: center;
    color: yellow;
    top: 6px;
    left: -2px;
    display: flex;
    text-align: justify;
  }

 
  
  p2 {
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    position: relative;
    align-items: center;
    color: yellow;
    top: 9px;
    left: -5px;
    display: flex;
    text-align: justify;
    white-space: break-spaces;
  }

  
 p3 {
    font-size: 15px;
    font-weight: 900;
    position: relative;
    align-items: center;
    color: yellow;
    top: 15px;
    left: -2px;
    display: flex;
    text-align: justify;
    white-space: break-spaces;
  }
  


  p4 {
    font-size: 15px;
    font-weight: 900;
    position: relative;
    align-items: center;
    color: yellow;
    top: 27px;
    left: -2px;
    display: flex;
    text-align: justify;
    white-space: break-spaces;
  }

  
  p5 {
    position: relative;
    bottom: -1px;
    left: 18px;
    font-size: 16px;
    color: blue;
    font-weight: 700;
  }

  p5 {
    position: absolute;
    bottom: 22px;
    left: 74px;
    font-size: 16px;
    color: blue;
    font-weight: 700;
    /* display: flex; */
    height: 0vh;
    flex-direction: column-reverse;
    width: -1vh;
  }
  
  caption {
    color: blue;
  }
  
  header {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    /* left: 131px; */
    height: 5vh;
    /* position: relative; */
    width: 31vw;
    /* right: 29%; */
    left: 42%;
    top: 1px;
    position: relative;
  }

 header {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    /* left: 131px; */
    height: 16vh;
    width: 65vw;
    /* right: 29%; */
    left: 33%;
    top: 1px;
    position: relative;
  }
  
  img {
    position: absolute;
    width: 440px;
    height: 199px;
    top: 12px;
    left: 620px;
  }
  
  body {
    height:100vh;
    width: 85vw;
  }
  
  
.guess-container {
  left: 0px;
    /* width: 59vw; */
    /* height: 6%; */
    /* bottom: -100px; */
    position: absolute;
    /* text-align: center; */
    /* left: -188px; */
    width: 99vw;
    height: 12vh;
    top: 174px;
    display: inline-flex;
    justify-content: center;
}

.guess-container {
  left: 0px;
    /* width: 59vw; */
    /* height: 6%; */
    /* bottom: -100px; */
    position: absolute;
    /* text-align: center; */
    /* left: -188px; */
    width: 99vw;
    height: 6vh;
    top: 421px;
    display: inline-flex;
    justify-content: center;
}


  table {
    border-collapse: collapse;
    border-spacing: 20px;
    box-shadow: 20px 20px 10px 5px transparent;
    background-color: blue;
    text-align: left;
    left: 0px;
    position: relative;
    bottom: 2px;
    /* width: 98px; */
    width: 97vw;
  }
  
  th {
    background-color: blue;
    padding: 0.75rem 2rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 6px;
    font-weight: 900;
    color: yellow;
    text-align: center;
    text-shadow: 2px 2px 2px #32CD32;
  }
  
  td {
    padding-top: 4px;
    padding-bottom: 21px;
    padding-left: 37px;
    padding-right: 13px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 9px;
    font-weight: 800px;
    border-style: double;
   border-color:blue;
  }

  tr {
    position: relative;
    width: 20px;
  }
  
  tr:nth-child(even) {
    background-color: green;
  }

  td {
    padding-top: 47px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 32px;
    border-collapse: collapse;
    box-shadow: 20px 20px 20px 5px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 14px;
    font-weight: 800;
    border-style: solid;
  }
  
  
  #posição {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }
  
  #número {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }
  
  #time{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right:1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;

  }
  
  
  #campeão {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }
  
  #primeira-copa{
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;  
  
  }
  

  #convocações{
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }

  #posição-2 {
   padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
    
  }
  
  #número-2 {
   padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
    
  }
  
  #time-2{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right:1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;

  }
  
  
  #campeão-2 {
  padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }
  
  #primeira-copa-2{
     padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  
  
  }
  

  #convocações-2{
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }

  #posição-3 {
   padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
    
  }
  
  #número-3 {
   padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
    
  }
  
  #time-3{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right:1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }
  
  
  #campeão-3 {
  padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }
  
  #primeira-copa-3{
     padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }
  

  #convocações-3{
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }

  #posição-4 {
   padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
    
  }
  
  #número-4 {
   padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
    
  }
  
  #time-4{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right:1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;

  }
  
  
  #campeão-4 {
  padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }
  
  #primeira-copa-4{
     padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  
  
  }
  

  #convocações-4{
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }

  #posição-5 {
   padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
    
  }
  
  #número-5 {
   padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
    
  }
  
  #time-5{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right:1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;

  }
  
  
  #campeão-5 {
  padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }
  
  #primeira-copa-5{
     padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  
  
  }
  

  #convocações-5{
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }

  #posição-6 {
   padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
    
  }
  
  #número-6 {
   padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
    
  }
  
  #time-6{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right:1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;

  }
  
  
  #campeão-6 {
  padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }
  
  #primeira-copa-6{
     padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  
  
  }
  

  #convocações-6 {
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 1px;
    border-collapse: collapse;
    box-shadow: 2px 2px 0px 0px transparent;
    background-color: yellow;
    text-align: center;
    color: blue;
    font-size: 12px;
    font-weight: 800px;
   border-color:blue;
  }

  
  

  
  
  }


 